/* DEGUB */
[class*="col"] {
    background-color: tomato;
    border: solid white 1px;
    min-height: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 10px;
}
div.row > .col-6 .row .col-2{
    background-color: blueviolet;
}
div.row > .col-6 .row .col-8{
    background-color: blueviolet;
}
div.row > .col-6 .row .col-6{
    background-color: blueviolet;
}